body{
    background-color: black;
}

#headerPic {
    
    width: 1200px;
    height:130px;
    margin: 10px 20px 10px 80px;
}

#mainPic {
    width: 1200px;
    height: 460px;
    margin: 10px 20px 10px 80px;
    z-index: -1;
}

.start{
    font-size: 18px;
    color: white;
    position: absolute;
    bottom: 50px;
    left: 45%;
    background-color:lightgray; 
}

#gameDiv { 
    width: 1200px;
    height: 460px;
    opacity: .9;
    background-color: white;
    margin: 10px 20px 10px 80px;
    position: absolute;
    top:150px;
    z-index: 1;
    visibility: hidden;
 }

 h1{
     text-align: center;
     font-family: 'Times New Roman', Times, serif;
     font-size: 50px;
     font-weight: bold;
 }

 #timer {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
 }

 #questionView {

    text-align: center;
 }